:root{
    --font-family:"Pacifico";
    --body-font:"Amaranth", sans-serif;
}

@media(max-width:800px){
    .weather-wrapper{
        position: relative;
        bottom: 10px;
       
    }
    .city-temp .temp{
        font-size: 40px;
       position: relative;
        
    }

    .city-temp .city{
        font-size:40px;

        
    }

    .forcast .forcastIcon{
        max-width: 10px;
        position: relative;
        bottom: 10px;
        max-width: 45px;  


    }
    .forcast .forcast{
        font-size: 13px;
        padding: 1.9px;
        margin: 0;
        margin-top: 20px;
        position: relative;
        right: 20px;
    }
    .footer p{
    position: relative;
    bottom: 30px;
   }
    .weather-wrapper footer{
        font-size: 10px;
    }
    .max-min{
    font-size: 1px;
    margin:0;
}
.minTemperature{
    padding-left: 8px;
}

     .weather-wrapper .input{
        padding: 10px;
        font-size: 15px;

    }
    .weather-wrapper .submit-button{
        padding: 5px 9px;

    }


 
}






body{
    background-image: url("images/clearclouds.jpg");
    background-size: cover ;  
    color: white;
    font-weight: normal;
    font-size: 20px;
     
    
    
    }

.city{
font-size: 50px;
font-weight: bolder;
font-family:var(--body-font);
padding-right: 100px;


}

.city-temp{
display: flex;
justify-content: space-around;
margin:120px 30px 60px 30px;

}


.currentWeather{
border: 1px solid grey;
border-radius: 20px;
padding: 25px;
margin-top: 20px;
}

.colorChange{
color: blanchedalmond;
font-weight: bolder;
}

.currentWrapper{
display: flex;
font-size: 13px;
justify-content: space-evenly;
}

.forcast{
display: flex;
justify-content: center;
font-size: 13px;
position: relative;
margin-top: 50px;
margin-left: 10px;
}
.forcastIcon{
max-width: 90px;
position: relative;
bottom: 10px;  
}

footer{
    font-size: 17px;
    color:blanchedalmond;
    margin-top: 70px;
    font-family: var(--font-family);
    font-style: normal;
    padding-bottom:60px ;
    }
.github{
    color:mediumaquamarine;
    font-size: 20px;
}
p a{
    color:mediumaquamarine;
    font-size: 14px;
    font-weight: 600;
}

.input{
margin-top: 50px;
padding: 9px 50px;
}
.max-min{
position: relative;
bottom: 20px;
}
.maxTemperature{
    padding-left: 9px;
}

.submit-button{
border: 1px solid blanchedalmond;
padding: 10px 14px;
transition: all 100ms ease-in-out;
background-color: grey;
color: blanchedalmond;

}
.submit-button:hover{
background-color: blanchedalmond;
color: grey;

}

.temp{
font-family: "Amaranth", sans-serif;
font-size: 60px;
}


.time{
margin-top: 20px;

}


